<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<ad-->
    <!--d name="PATSWeb" connectionString="Data Source=APO10LTCMP6371;Initial Catalog=BassWeb;Integrated Security=True;MultipleActiveResultSets=True;Application Name=SomsUploadExeUtility" providerName="System.Data.SqlClient" />-->
    <!--<add name="PATSWeb" connectionString="Data Source=APO7LTCMP006512;Initial Catalog=BassWeb20170413;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="FilePath" value="C:\BASSV3Error\Production;C:\PATSLog\Production" />
    <add key="AgeOfFiles" value="60" />
   <!--email addresses have to be separated by commas, not semi-colons-->
    <add key="ToPeople" value="Chunmai.Huang@cdcr.ca.gov"/>
    <add key="CCPeople" value="Quentin.Miller@cdcr.ca.gov,Carol.Xu@cdcr.ca.gov" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>