<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings></connectionStrings>
  <appSettings>
    <add key="FilePath" value="C:\BASSV3Error\Production;C:\PATSLog\Production;C:\SomsUploadProd\Log;C:\ReleaseDateUpdateUtility\Log;C:\DHCSDateUpdateUtility\Log;C:\ReleaseDateUpdateDBfile;C:\DHCSResults;C:\SomsDBFileProd;C:\LogFilesCleanupUtility\Log" />
    <add key="AgeOfFiles" value="60" />
   <!--email addresses have to be separated by commas, not semi-colons-->
    <add key="ToPeople" value="Chunmai.Huang@cdcr.ca.gov"/>
    <add key="CCPeople" value="Quentin.Miller@cdcr.ca.gov,Carol.Xu@cdcr.ca.gov" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>